@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap&family=Caveat:wght@400..700&display=swap');

@keyframes avatar-floating {
  0% {
    transform: translateY(-2px) rotate(-4deg);
  }

  50% {
    transform: translateY(2px) rotate(-2deg);
  }

  100% {
    transform: translateY(-2px) rotate(-4deg);
  }
}

@keyframes grid-bg-animation {
  0% {
    background-position: 0% 0%, 0% 0%
  }

  100% {
    background-position: 100% 100%, 100% 100%
  }
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

canvas {
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}